/*FUENTE GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100;0,400;0,500;0,600;0,900;1,100&display=swap');

/*!--------------RESET--------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rokkitt', serif !important;
}

/*!--------------ANTI-BOOTSTRAP--------------*/

h1 {
    display: block;
    font-weight: bold;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    display: block;
    font-weight: bold;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*!--------------HEADER--------------*/
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Clases para el nav post-Bootstrap */

.navbar-og {
    background-color: #003049;
    /* list-style: none; */
    font-weight: bold;
    font-size: 20px;
}

.dropdown-item {
    font-weight: 600;
}

.dropdown-toggle::after {
    vertical-align: middle;
}

.navbar-nav {
    --bs-nav-link-padding-x: 10px;
}

.navbar-img {
    height: 80px;
    /* margin: 2px; */
    padding: 5px;
}
.dropdown-item.active {
    background-color: #F7F4F3;
    color: #190933;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #F7F4F3;
    --bs-dropdown-link-active-color: #190933;
}

/*!--------------MAIN--------------*/
main {
    font-family: 'Rokkitt', serif;
    background-color: #F7F4F3;
}

main section h1 {
    font-size: 100px;
    color: #9A2A18;
    text-shadow: 2px 2px #f7f4f3cf;
}

main section h2 {
    color: #9A2A18;
    font-size: 80px;
    text-align: center;
}

/* Clase para Botones */
.button {
    background-color: #003049;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: #F7F4F3;
    font-weight: 800;
    font-size: 22px;
    margin: 10px;
}

.button:hover {
    color: #003049;
    background-color: #F7F4F3;
    border-width: 2px;
    border-color: #003049;
    border-style: dashed;
    padding: 3px 18px 3px 18px;
}

.button:active {
    background-color: #003049;
    color: #F7F4F3;
    padding: 3px 18px 3px 18px;
}

/* Hero Section de Index */

.hero {
    background-image: url(../img/main-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero Section - History */

.hero-history {
    background-image: url(../img/history-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero Section - Outings */

.hero-outings {
    background-image: url(../img/outings-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero Section - Shopping */

.hero-shopping {
    background-image: url(../img/shopping-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero Section - Itinerary */

.hero-itinerary {
    background-image: url(../img/itinerary-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section Contador - Index - Note to self, estaria bueno poder hacerlo sin depender de una URL externa */
.counter {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(51, 53, 53);
}

/* Section Cards con Previews para History, Outings y Shopping */

.previews {
    background-color: #F7F4F3;
    color: #190933;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    width: 100%;
    padding: 15px;
}

.preview-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.previews div img {
    width: 100%;
    height: auto;
    padding-top: 10px;
    object-fit: cover;
}


.preview-card p {
    width: 100%;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    height: 90px;
    text-align: center;
}

/* Section Planning - Planner con link a Itinerary */

.planning {
    padding-top: 30px;
}

.planning div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.planning div img {
    width: 100%;
    padding: 15px;
}

/* Section "From Past Trips" (Galeria de Imagenes) */

.grid-galeria {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
    padding: 10px;
}

.galeria-item {
    position: relative;
    height: 100%;
}

.galeria-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.galeria-item h3 {
    position: absolute;
    bottom: 0;
    color: #F7F4F3;
    background-color: #19093393;
    width: 100%;
    padding: 5px;
    font-weight: 200;
}

.galeria-03 {
    grid-row: span 2;
}

.galeria-05 {
    grid-column: span 2;
    grid-row: span 2;
}

.galeria-10 {
    grid-column: span 2;
}

/* Formulario de Contacto */

.formulario {
    background-color: #F7F4F3;
    padding: 10px 70px 10px 70px;
    color: #003049;
}

/*!--------------MAIN DE LAS OTRAS PAGINAS--------------*/

/* Banner de Quote, debajo de la Hero Section de cada pagina */

.quote {
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.quote h3 {
    text-align: justify;
    font-size: 25px;
    font-style: italic;
}

.quote p {
    font-size: 18px;
    text-align: right;
    font-weight: 400;
}

.quote div img {
    width: 50px;
}

.quote-open {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 5px;
    width: 100%;
}

.quote-close {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
    width: 100%;
}

/* Imagen a la izquierda, texto a la derecha */

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}


.left-section img {
    width: 50%;
    object-fit: cover;
    display: inline;
    height: auto;
}

.left-section p {
    width: 40%;
    padding: 15px;
    text-align: right;
    font-size: 18px;
}

/* Imagen a la derecha, texto a la izquierda */

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

.right-section img {
    width: 50%;
    display: inline;
    object-fit: cover;
}

.right-section p {
    width: 40%;
    padding: 15px;
    text-align: left;
    font-size: 18px;
}

/* Clase y pseudoclase para los links en los parrafos de las paginas de contenido */

p a {
    text-decoration: underline;
    color: #9A2A18;
}

p a:visited {
    color: #73877b;
}

p a:hover {
    text-decoration-style: dashed;
    color: #73877b;
}

/* Para la pagina Itinerary, Calendario de Actividades */

.itinerary-titles {
    width: 100%;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 200px;
    gap: 5px;
    padding: 15px;
}

.single-day {
    width: 100%;
    height: 200px;
    padding: 2px;
}

.itinerary-titles h2 {
    text-align: center;
    font-size: 20px;
    border: #190933;
    border-width: 1px;
    border-style: solid;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.itinerary-titles h3 {
    text-align: center;
    font-size: 15px;
    border: #190933;
    border-width: 1px;
    border-style: solid;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.itinerary-titles p {
    text-align: center;
    font-size: 12px;
    border: #190933;
    border-width: 1px;
    border-style: solid;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*!--------------FOOTER--------------*/
footer {
    background-color: #190933;
    text-align: center;
    color: #F7F4F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.map {
    padding-left: 15px;
    width: 300px;
    height: 150px;
}

footer div p {
    padding: 15px;
    font-size: 14px;
}

footer div i {
    font-size: 30px;
    display: inline;
    padding: 5px;
    color: #F7F4F3;
}

/* Icono de WhatsApp */

.message-icon {
    position: fixed;
    right: 30px;
    bottom: 200px;
}

.bi-whatsapp {
    font-size: 40px;
    color: #73877b;
    text-shadow: 1px 1px #f7f4f3d9;
}

/*!--------------MEDIA QUERIES--------------*/
@media screen and (max-width: 814px) {
    .message-icon {
        display: none;
    }

    .grid-galeria {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        gap: 15px;
        padding: 10px;
    }

    .galeria-05 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .galeria-10 {
        grid-column: span 2;
    }

    .left-section p {
        font-size: 15px;
    }

    .right-section p {
        font-size: 15px;
    }

    .quote h3 {
        font-size: 20px;
    }

    .quote p {
        font-size: 15px;
    }

    .quote div img {
        width: 40px;
    }

    .itinerary-titles {
        padding-bottom: 10px;
        gap: 2px;
        padding: 10px;
    }

    .single-day {
        padding: 1px;
    }

    .itinerary-titles h2 {
        font-size: 18px;
        padding: 2px;
    }

    .itinerary-titles h3 {
        font-size: 14px;
    }

    .itinerary-titles p {
        font-size: 12px;
    }
}

@media screen and (max-width: 690px) {
    .previews {
        gap: 15px;
    }

    .previews div img {
        padding-top: 5px;
    }

    .preview-card p {
        font-size: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 15px;
        height: 80px;
    }

    main section h1 {
        font-size: 90px;
    }

    main section h2 {
        font-size: 80px;
    }
}

@media screen and (max-width: 630px) {

    .itinerary-titles {
        grid-template-columns: repeat(2, 1.5fr);
        gap: 10px;
        padding: 25px;
    }

    .itinerary-titles h2 {
        font-size: 24px;
        padding: 0px;
    }

    .itinerary-titles h3 {
        font-size: 18px;
        padding: 0px;
    }

    .itinerary-titles p {
        font-size: 16px;
    }

    main section h1 {
        font-size: 80px;
    }

    main section h2 {
        font-size: 70px;
    }

}

@media screen and (max-width: 610px) {

    main section h1 {
        font-size: 70px;
    }

    main section h2 {
        font-size: 60px;
    }

    .counter {
        display: none;
    }

    .button {
        padding: 15px 100px 15px 100px;
    }

    .previews {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 15px;
    }

    .preview-card {
        justify-content: space-evenly;
    }

    .previews div img {
        width: auto;
        height: auto;
        padding-top: 5px;
        object-fit: fill;
    }

    .preview-card p {
        display: none;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        height: 0px;
    }

    .left-section {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }

    .left-section img {
        width: 100%;
    }

    .left-section p {
        width: 100%;
        padding: 15px;
        text-align: justify;
        font-size: 18px;
    }

    .right-section {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }

    .right-section img {
        width: 100%;
        order: 1;
    }

    .right-section p {
        order: 2;
        width: 100%;
        padding: 15px;
        text-align: justify;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    footer {
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }

    .map {
        order: 3;
        padding-left: 0px;
        padding: 15px;
    }

    .map iframe {
        width: 200px;
        height: 100px;
    }

    footer div p {
        padding: 15px;
        font-size: 14px;
        order: 1;
    }

    footer div img {
        width: 50px;
        display: inline;
        padding: 5px;
        order: 2;
    }
}

@media screen and (max-width: 475px) {

    .grid-galeria {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 250px;
        gap: 10px;
    }

    .galeria-03 {
        grid-row: span 1;
    }

    .galeria-05 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .galeria-10 {
        grid-column: span 1;
    }

    main section h1 {
        font-size: 50px;
    }

    main section h2 {
        font-size: 40px;
    }

    .planning {
        display: none;
    }
}

@media screen and (max-width: 365px) {
    .button {
        padding: 10px 50px 10px 50px;
    }

    main section h1 {
        font-size: 35px;
    }

    main section h2 {
        font-size: 30px;
    }

    .field-form {
        width: 250px;
    }

    .field-form {
        font-size: 15px;
    }
}

@media screen and (max-width: 330px) {
    .previews div img {
        width: 75%;
        height: auto;
        object-fit: cover;
    }

    .map {
        display: none;
    }
}