// TODO LO QUE SE APLICA A TODO EL PROYECTO
/*FUENTE GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100;0,400;0,500;0,600;0,900;1,100&display=swap');

/*!--------------RESET--------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rokkitt', serif !important;
}

/*!--------------ANTI-BOOTSTRAP--------------*/
/* Estilos que corrigen lo que se "rompe" cuando activo Bootstrap */
h1 {
    display: block;
    font-weight: bold;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
}

h2 {
    display: block;
    font-weight: bold;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
}

h3 {
    margin-bottom: 0px;
    font-size: 22px;
}

.dropdown-item {
    font-weight: 600;
}

.dropdown-toggle::after {
    vertical-align: middle;
}

.navbar-nav {
    --bs-nav-link-padding-x: 10px;
}

.dropdown-item.active {
    background-color: #f7f4f3d1;
    color: #190933;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: $color-claro;
    --bs-dropdown-link-active-color: #190933;
}

.form-check .form-check-input {
    margin-left: 0px;
}