main {
    // Paginas de Contenido - Shopping Outings History
    font-family: 'Rokkitt', serif;
    background-color: #F7F4F3;
    .hero {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            h1 {
                font-size: 100px;
                color: #9A2A18;
                text-shadow: 2px 2px #f7f4f3cf;
            }
    }
    /* Hero Section - Contact */
    .hero-contact {
    background-image: url(../img/contact-hero.jpg);
    }
    .quote {
        text-align: center;
        padding: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        .quote-open {
            display: flex;
            justify-content: space-between;
            align-items: start;
            padding: 5px;
            width: 100%;
            img {
                width: 50px;
            }
        }
        div {
            h3 {
                text-align: justify;
                font-size: 25px;
                font-style: italic;
            }
            p {
                font-size: 18px;
                text-align: right;
                font-weight: 400;
            }
        }
        .quote-close {
            display: flex;
            justify-content: end;
            align-items: center;
            padding: 5px;
            width: 100%;
            img {
                width: 50px;
            }
        }
    }
    section {
        .formulario {
            background-color: #F7F4F3;
            padding: 20px 70px 10px 70px;
            color: #003049;
        }
    }
}