main {
    // Paginas de Contenido - Shopping Outings History
    font-family: 'Rokkitt', serif;
    background-color: $color-claro;
    .hero {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 300px;
        @extend %flex-center;
        flex-direction: column;
            h1 {
                font-size: 100px;
                color: $color-enfasis;
                text-shadow: 2px 2px nth($color-claro-transparencias, 1);
            }
    }
    /* Hero Section - Contact */
    .hero-contact {
    background-image: url(../img/contact-hero.jpg);
    }
    .quote {
        text-align: center;
        padding: 15px;
        @extend %flex-evenly;
        &:hover {
            transform: scale(1.3);
            transition-duration: 2s;
            transition-timing-function: ease;
        }
        .quote-open {
            @include flex (flex, space-between, start);
            padding: 5px;
            width: 100%;
            img {
                width: 50px;
            }
        }
        div {
            h2 {
                text-align: justify;
                font-size: 25px;
                font-style: italic;
                font-weight: 200;
            }
            p {
                font-size: 18px;
                text-align: right;
                font-weight: 400;
            }
        }
        .quote-close {
            @include flex (flex, end, center);
            padding: 5px;
            width: 100%;
            img {
                width: 50px;
            }
        }
    }
    section {
        .formulario {
            background-color: $color-claro;
            padding: 20px 70px 10px 70px;
            color: $color-principal;
        }
    }
}