footer {
    background-color: $color-fondo-alternativo;
    text-align: center;
    color: $color-claro;
    @extend %flex-between;
    height: 200px;
    .map {
        /* Mapa de Google Maps */
        padding-left: 15px;
        width: 300px;
        height: 150px;
    }
    div {
        p {
            /* Texto de Copyright */
            padding: 15px;
            font-size: 14px;
        }
        a {
            i {
                /* Clase para iconos de Bootstrap - Redes Sociales */
                font-size: 30px;
                display: inline;
                padding: 5px;
                color: $color-claro;
                }
            }
    }
    .message-icon {
        /* Icono de WhatsApp */
        position: fixed;
        right: 20px;
        bottom: 200px;
        transition: 0.5s;
        &:hover {
            transform: translateY(3px);
        }
        a {
            .bi-whatsapp {
                font-size: 40px;
                color: $color-principal;
                text-shadow: 1px 3px 8px rgba(0,0,0,0.32);
                transition: 0.5s;
                &:hover {
                    color: #006400;
                }
            }
        }
    }
}