footer {
    background-color: $color-fondo-alternativo;
    text-align: center;
    color: $color-claro;
    @extend %flex-between;
    height: 200px;
    .map {
        padding-left: 15px;
        width: 300px;
        height: 150px;
    }
    div {
        p {
            padding: 15px;
            font-size: 14px;
        }
        a {
            i {
                font-size: 30px;
                display: inline;
                padding: 5px;
                color: $color-claro;
                }
            }
    }
    .message-icon {
        position: fixed;
        right: 20px;
        bottom: 200px;
        a {
            .bi-whatsapp {
                font-size: 40px;
                color: $color-principal;
                text-shadow: 1px 1px nth($color-claro-transparencias, 1);
                font-weight: bold;
            }
        }
    }
}