main {
    // Pagina de Galeria
    font-family: 'Rokkitt', serif;
    background-color: $color-claro;
    .hero {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 300px;
        @extend %flex-center;
        flex-direction: column;
            h1 {
                font-size: 100px;
                color: $color-enfasis;
                text-shadow: 2px 2px nth($color-claro-transparencias,1);
            }
    }
    /* Hero Section - Gallery */
    .hero-gallery {
    background-image: url(../img/gallery-hero.jpg);
    }
    .quote {
        /* Banner de Quote, debajo de la Hero Section de cada pagina */
        text-align: center;
        padding: 15px;
        @extend %flex-evenly;
        .quote-open {
            @include flex (flex, space-between, start);
            padding: 5px;
            width: 100%;
            img {
                width: 50px;
            }
        }
        div {
            h2 {
                text-align: justify;
                font-size: 25px;
                font-style: italic;
                font-weight: 200;
            }
            p {
                font-size: 18px;
                text-align: right;
                font-weight: 400;
            }
        }
        .quote-close {
            @include flex (flex, end, center);
            padding: 5px;
            width: 100%;
            img {
                width: 50px;
            }
        }
    }
    .galeria {
        /* Pagina "From Past Trips" (Galeria de Imagenes) */
        h2 {
            display: block;
            font-weight: bold;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            margin-bottom: 0px;
            color: $color-enfasis;
            font-size: 80px;
            text-align: center;
        }
        .grid-galeria {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 250px;
            gap: 15px;
            padding: 10px;
            .galeria-item {
                position: relative;
                height: 100%;
                transition-duration: 1s;
                &:hover {
                    transform: scale(1.02);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
                    transition: 1s;
                    &:hover {
                        border-top-right-radius: 25px;
                        border-top-left-radius: 25px;
                    }
                }
                h3 {
                    position: absolute;
                    bottom: 0;
                    color: $color-claro;
                    background-color: #19093380;
                    width: 100%;
                    padding: 5px;
                    font-weight: 200;
                    transition: 1s;
                    border-radius: 20px;
                    &:hover {
                        border-top-right-radius: 25px;
                        border-top-left-radius: 25px;
                    }
                }
            }
            .galeria-03 {
                grid-row: span 2;
            }
            .galeria-05 {
                grid-column: span 2;
                grid-row: span 2;
            }
            .galeria-10 {
                grid-column: span 2;
            }
        }
    }
}