main {
    // Paginas de Contenido - Shopping Outings History
    font-family: 'Rokkitt', serif;
    background-color: $color-claro;
    .hero {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 300px;
        @extend %flex-center;
        flex-direction: column;
            h1 {
                font-size: 100px;
                color: $color-enfasis;
                text-shadow: 2px 2px nth($color-claro-transparencias,1);
            }
    }
    /* Hero Section - Itinerary */
    .hero-itinerary {
    background-image: url(../img/itinerary-hero.jpg);
    }
    .quote {
        /* Banner de Quote, debajo de la Hero Section de cada pagina */
        text-align: center;
        padding: 15px;
        @extend %flex-evenly;
        flex-direction: column;
        .quote-open {
            @include flex (flex, space-between, start);
            padding: 5px;
            width: 100%;
            img {
                width: 50px;
            }
        }
        div {
            h2 {
                text-align: justify;
                font-size: 25px;
                font-style: italic;
                font-weight: 200;
            }
            p {
                font-size: 18px;
                text-align: right;
                font-weight: 400;
            }
        }
        .quote-close {
            @include flex (flex, end, center);
            padding: 5px;
            width: 100%;
            img {
                width: 50px;
            }
        }
    }
    .itinerary-titles {
        /* Para la pagina Itinerary (Calendario de Actividades) */
        width: 100%;
        padding-bottom: 15px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 200px;
        gap: 5px;
        padding: 15px;
        .single-day {
            width: 100%;
            height: 200px;
            padding: 2px;
            h2 {
                text-align: center;
                font-size: 20px;
                border: $color-fondo-alternativo;
                border-width: 1px;
                border-style: solid;
                height: 60px;
                @extend %flex-center;
                padding: 4px;
                color: $color-enfasis;
            }
            h3 {
                text-align: center;
                font-size: 15px;
                border: $color-fondo-alternativo;
                border-width: 1px;
                border-style: solid;
                height: 50px;
                @extend %flex-center;
                padding: 2px;
            }
            p {
                text-align: center;
                font-size: 12px;
                border: $color-fondo-alternativo;
                border-width: 1px;
                border-style: solid;
                height: 90px;
                @extend %flex-center;
                padding: 2px;
            }
        }
    }
}