main {
    // INDEX
    font-family: 'Rokkitt', serif;
    background-color: #F7F4F3;
    .hero {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            h1 {
                font-size: 100px;
                color: #9A2A18;
                text-shadow: 2px 2px #f7f4f3cf;
            }
        }
        .counter {
            display: flex;
            justify-content: center;
            align-content: center;
            background-color: #f7f4f38d;
            padding: 10px;
        }
        .counter-small {
            display: none;
        }
    }
    /* Hero Section - Index */
    .hero-main {
    background-image: url(../img/main-hero.jpg);
        }
    .welcome {
        text-align:center;
        h2 {
            color: #9A2A18;
            font-size: 80px;
            text-align: center;
        }
    }
    .previews {
        background-color: #F7F4F3;
        color: #190933;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 30px;
        width: 100%;
        padding: 15px;
        .preview-card {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            img {
                width: 100%;
                height: auto;
                padding-top: 10px;
                object-fit: cover;
            }
            p {
                width: 100%;
                font-size: 17px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 20px;
                height: 110px;
                text-align: center;
            }
            .button {
                background-color: #003049;
                padding: 5px 20px 5px 20px;
                text-decoration: none;
                color: #F7F4F3;
                font-weight: 800;
                font-size: 22px;
                margin: 10px;
                &:hover {
                    color: #003049;
                    background-color: #F7F4F3;
                    border-width: 2px;
                    border-color: #003049;
                    border-style: dashed;
                    padding: 3px 18px 3px 18px;
                }
                &:active {
                    background-color: #003049;
                    color: #F7F4F3;
                    padding: 3px 18px 3px 18px;
                }
            }
        }
    }
}

