main {
    // INDEX
    font-family: 'Rokkitt', serif;
    background-color: $color-claro;
    .hero {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 300px;
        @extend %flex-center;
        flex-direction: column;
        div {
            h1 {
                font-size: 100px;
                color: $color-enfasis;
                text-shadow: 2px 2px nth($color-claro-transparencias, 1);
            }
        }
        .counter {
            @extend %flex-center;
            background-color: nth($color-claro-transparencias, 2);
            padding: 10px;
        }
        .counter-small {
            display: none;
        }
    }
    /* Hero Section - Index */
    .hero-main {
    background-image: url(../img/main-hero.jpg);
        }
    .welcome {
        text-align:center;
        h2 {
            color: $color-enfasis;
            font-size: 80px;
            text-align: center;
        }
    }
    .previews {
        background-color: $color-claro;
        color: $color-fondo-alternativo;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 30px;
        width: 100%;
        padding: 15px;
        .preview-card {
            @include flex (flex, space-around, center);
            flex-direction: column;
            flex-wrap: nowrap;
            img {
                width: 90%;
                height: auto;
                object-fit: contain;
                margin: 20px;
                transition: 1s;
                &:hover {
                    transform: scale(1.03);
                    box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.48);
                    -webkit-box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.48);
                    -moz-box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.48);
                }
            }
            p {
                width: 100%;
                font-size: 17px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 10px;
                height: 100%;
                text-align: center;
            }
            .button {
                background-color: $color-principal;
                padding: 5px 20px 5px 20px;
                text-decoration: none;
                color: $color-claro;
                font-weight: 800;
                font-size: 22px;
                margin: 10px;
                &:hover {
                    color: $color-principal;
                    background-color: $color-claro;
                    border-width: 2px;
                    border-color: $color-principal;
                    border-style: dashed;
                    padding: 3px 18px 3px 18px;
                }
                &:active {
                    background-color: $color-principal;
                    color: $color-claro;
                    padding: 3px 18px 3px 18px;
                }
            }
        }
    }
}

