main {
    // Paginas de Contenido - Shopping Outings History
    font-family: 'Rokkitt', serif;
    background-color: $color-claro;
    .hero {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 300px;
        @extend %flex-center;
        flex-direction: column;
            h1 {
                font-size: 100px;
                color: $color-enfasis;
                text-shadow: 2px 2px nth($color-claro-transparencias,1);
            }
    }
    /* Hero Section - Index */
    .hero-main {
    background-image: url(../img/main-hero.jpg);
        }
    /* Hero Section - History */
    .hero-history {
    background-image: url(../img/history-hero.jpg);
        }
    /* Hero Section - Outings */
    .hero-outings {
    background-image: url(../img/outings-hero.jpg);
    }
    /* Hero Section - Shopping */
    .hero-shopping {
    background-image: url(../img/shopping-hero.jpg);
    }
    .quote {
        text-align: center;
        padding: 15px;
        @extend %flex-evenly;
        flex-direction: column;
        &:hover {
            transform: scale(1.3);
            transition-duration: 2s;
            transition-timing-function: ease;
        }
        .quote-open {
            @include flex (flex, space-between, start);
            padding: 5px;
            width: 100%;
            img {
                width: 50px;
            }
        }
        div {
            h2 {
                text-align: justify;
                font-size: 25px;
                font-style: italic;
                font-weight: 200;
            }
            p {
                font-size: 18px;
                text-align: right;
                font-weight: 400;
                color: $color-principal;
            }
        }
        .quote-close {
            @include flex (flex, end, center);
            padding: 5px;
            width: 100%;
            img {
                width: 50px;
            }
        }
    }
    .left-section {
        @extend %flex-center;
        flex-direction: row;
        padding: 10px;
        img {
            width: 50%;
            object-fit: cover;
            display: inline;
            height: 100%;
            transition: 1s;
            &:hover {
                transform: scale(1.02);
                box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.48);
                -webkit-box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.48);
                -moz-box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.48);
            }
        }
        p {
            width: 40%;
            padding: 15px;
            text-align: right;
            font-size: 18px;
            a {
                text-decoration: underline;
                color: $color-enfasis;
                &:visited {
                    color: $color-links-visitados;
                }
                &:hover {
                    text-decoration-style: dashed;
                    color: $color-links-visitados;
                }
            }
        }
    }
    .right-section {
        @extend %flex-center;
        flex-direction: row;
        padding: 10px;
        p {
            width: 40%;
            padding: 15px;
            text-align: left;
            font-size: 18px;
            a {
                text-decoration: underline;
                color: $color-enfasis;
                &:visited {
                    color: $color-links-visitados;
                }
                &:hover {
                    text-decoration-style: dashed;
                    color: $color-links-visitados;
                }
            }
        }
        img {
            width: 50%;
            display: inline;
            object-fit: cover;
            transition: 1s;
            &:hover {
                transform: scale(1.02);
                box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.48);
                -webkit-box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.48);
                -moz-box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.48);
            }
        }
    }
}